<%= bootstrap_form_for(user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :first_name, id: :user_first_name %>
  </div>

  <div class="field">
    <%= form.text_field :last_name, id: :user_last_name %>
  </div>

  <div class="field">
    <%= form.text_field :email, id: :user_email %>
  </div>
  <%= form.collection_select :role_ids, @roles, :id, :name, {}, :multiple => 'true'%>
  <% if form.object.images.present? %>
    <% form.object.images.each do |image| %>
    <%= image_tag(image, size: "100x100", alt: "Edit Entry") %>
    <% end %>
  <% end %>
  <%= form.file_field :images, multiple: true %>

  <%= form.nested_fields_for :user_meta_data do |f| %>
    <%= f.remove_nested_fields_link %>
    <%= f.text_field :meta_key, label: 'Column Name', placeholder: 'Add column' %>
    <%= f.text_field :meta_value, label: 'Column Value', placeholder: 'Add Value' %>
  <% end %>
  <%= form.add_nested_fields_link :user_meta_data %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
