<table>
  <thead>
    <tr>
      <th>Images</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>User Roles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <% if user.images.present? %>
            <% user.images.each do |image| %>
            <%= image_tag(image, size: "100x100", alt: "Edit Entry") %>
            <% end %>
          <% end %>
        </td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.roles.pluck(:name).to_sentence %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>