<% content_for :javascript_includes do %>
  <%= javascript_include_tag "users.js" %>
<% end %>
<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= select_tag "roles", options_from_collection_for_select(@roles, "id", "name"), include_blank: "All" %>
<div class = 'users-grid'>
  <%= render 'index', users: @users %>
</div>

<%= link_to 'New User', new_user_path %>
<%= link_to 'Home', root_path %>
