<h3> Hide Roles <h3/>
<%= form_for :role, :url => {:action => 'update_roles'} do -%>
    <% @roles.each do |role| %>
      <%= fields_for "role[]", role do |role_fields| %>
        <%= role_fields.check_box :hide_status %>
        <%= role.name %>
      <% end %>
    <% end %>
    <%= submit_tag 'Update' %>
<% end %>
<%= link_to 'Backe to roles', roles_path %>
